<header class="header">
  <span></span>
  <span>Tasks</span>
  <button id="add-task-show">+</button>
</header>

<main class="container projects-container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-sm-12 col-md-6 col-lg-4 project-col">
        <div class="project-card">
          <div class="project-header">
            <h3><%= project.title %></h3>
          </div>



          <div class="project-body">
            <ul class="projects-todos">
              <% project.tasks.all.each do |task| %>
                <li>
                  <form autocomplete="off">
                    <div class="pretty p-svg p-curve">
                      <% if task.completed %>
                        <input class="todo-check" type="checkbox" id=<%= "todo-check-#{task.id}"%> checked>
                        <div class="state p-primary">
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                          </svg>
                          <label class="crossed-out" for=<%= "todo-check-#{task.id}"%>><%= task.title%></label>
                        </div>
                      <% else %>
                        <input class="todo-check" type="checkbox" id=<%= "todo-check-#{task.id}"%>>
                        <div class="state p-primary">
                          <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                          </svg>
                          <label for=<%= "todo-check-#{task.id}"%>><%= task.title%></label>
                        </div>
                      <% end %>

                    </div>
                  </form>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>

<div class="add-task-container d-none">
    <div class="add-task-form">
      <div class="add-task-form-header">
        <h3>Новая задача</h3>
      </div>

      <div class="add-task-form-body">

        <select id="add-task-select-project">
          <% @projects.each do |project| %>
            <option value=<%= project.title %>><%= project.title %></option>
          <% end %>
        </select>

        <input type="text" id="add-task-title" placeholder="Название задачи">

        <div class="form-buttons-container">
          <button type="button" id="add-task-submit">Отправить</button>
          <button type="button" id="add-task-cancel">Отмена</button>
        </div>

      </div>



    </div>
</div>